.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 0.5%;
    background-color: var(--main-color);
    height: 20vh;
}

@media (max-width: 500px) {
    .header {
        flex-direction: column;
        height: fit-content;
    }
}